.todo-item {
    display: flex;    
    align-items: center;
    padding-left: 10px;
    border-bottom: 2px solid #ffffff;
}

.todo-item:last-of-type {
  border: none;
}

.completed {
  text-decoration: line-through;
}

/* The container */
.container {
    flex: 1;
    display: block;
    position: relative;
    padding-left: 35px;  
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ccc;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;  
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .remove-button {
    background-color: #ED1C28;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: max-content;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: background-color .4s;
  }
  
  .remove-button:hover {  
    background-color: #d61923;
  }

  